@media (min-width:992px) and (max-width:1199px) {
    .breadCrumbsDiv {
      right: 16px;
      top: 52px;
    }
    .pageViewPopup {
        top: 60px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}
  
@media (max-width:991px) {
    .breadCrumbsDiv {
        right: 16px;
        top: 52px;
    }
    .pageViewPopup {
        top: 104px;
        left: 16px;
        right: 16px;
        bottom: 56px;
    }
}